In [1]:
# an example of a class
class Student:
    pass

In [2]:
# instance
s1 = Student()

In [3]:
type(s1)

__main__.Student

In [4]:
s1.name = "John"

In [5]:
print(s1.name)

John

In [6]:
s2 = Student()

In [7]:
s2.name

AttributeError: 'Student' object has no attribute 'name'

In [8]:
class Student:
    # constructor
    def __init__(self):
        print("Creating a new student...")
        self.name = "un-named"

In [9]:
s1 = Student()
s2 = Student()

Creating a new student...
Creating a new student...

In [10]:
s1

In [11]:
s2

In [12]:
s1.name

'un-named'

In [13]:
s2.name

'un-named'

In [14]:
class Student:
    # constructor
    def __init__(self, new_name):
        print("Creating a new student...")
        self.name = new_name

In [15]:
s1 = Student("John")
s2 = Student("Bill")

Creating a new student...
Creating a new student...

In [16]:
s1.name

'John'

In [17]:
s2.name

'Bill'

In [18]:
s3 = Student(789)

Creating a new student...

In [19]:
type(s3.name)

int

In [20]:
type(Student)

type

In [21]:
class Student:
    
    # class variable
    count = 0
    
    # constructor
    def __init__(self, new_name):
        print("Creating a new student...")
        self.name = new_name
        self.id = Student.count
        Student.count +=1

In [22]:
s1 = Student("John")
s2 = Student("Bill")

Creating a new student...
Creating a new student...

In [23]:
Student.count

2

In [24]:
print(s1.id)
print(s1.name)

0
John

In [25]:
print(s2.id, s2.name)

1 Bill

In [26]:
s3 = Student("Anne")

Creating a new student...

In [27]:
print(s3.id, s3.name)

2 Anne

In [28]:
print(s1.count)

3

In [29]:
# created a new property.
s2.count = 40

In [30]:
print(Student.count)
print(s1.count)
print(s2.count)
print(s3.count)

3
3
40
3

In [31]:
s2.count = 40

In [32]:
# s1.count += 1

# ans --> 4
# s1.count = s1.count + 1

In [33]:
for item in s1,s2,s3:
    print(item.id, item.name)

0 John
1 Bill
2 Anne

In [34]:
class A():
    def __init__(self,count=5):
        self.count=count

        
obj1=A()
obj2=A(7)

print(obj1.count)
print(obj2.count)

5
7

In [35]:
lst = [1,2,3,4,5]

In [36]:
print(lst)

[1, 2, 3, 4, 5]

In [37]:
lst

[1, 2, 3, 4, 5]

In [38]:
class Student:
    
    # class variable
    count = 0
    
    # constructor
    def __init__(self, new_name):
        print("Creating a new student...")
        self.name = new_name
        self.id = Student.count
        Student.count +=1
    
    def __str__(self):
        return f"My name is {self.name} with id {self.id}"
    
    def __repr__(self):
        return f"My name is {self.name} with id {self.id}"

In [39]:
s1 = Student("John")
s2 = Student("Bill")

Creating a new student...
Creating a new student...

In [40]:
str(s1)

'My name is John with id 0'

In [41]:
print(s1)

My name is John with id 0

In [42]:
print(s2)

My name is Bill with id 1

In [43]:
s1

My name is John with id 0

In [44]:
student_lst = [s1,s2]

In [45]:
student_lst

[My name is John with id 0, My name is Bill with id 1]

In [46]:
a = 5
b = 2

In [47]:
a + b

7

In [48]:
a.__add__(b)

7

In [49]:
s1

My name is John with id 0

In [50]:
s2

My name is Bill with id 1

In [51]:
class Student:
    
    # class variable
    count = 0
    
    # constructor
    def __init__(self, new_name):
        print("Creating a new student...")
        self.name = new_name
        self.id = Student.count
        Student.count +=1
    
    def __str__(self):
        return f"My name is {self.name} with id {self.id}"
    
    def __repr__(self):
        return f"My name is {self.name} with id {self.id}"
    
    def intro(self):
        print(f"Hello! My name is {self.name}, and roll no. is {self.id}")

In [52]:
s1 = Student("John")
s2 = Student("Bill")

Creating a new student...
Creating a new student...

In [53]:
s1.intro()

Hello! My name is John, and roll no. is 0

In [54]:
s2.intro()

Hello! My name is Bill, and roll no. is 1

In [55]:
Student()

TypeError: Student.__init__() missing 1 required positional argument: 'new_name'

In [56]:
class Account:
    acc_no = 1001 
    def __init__(self, balance=10000):
        self.accno = Account.acc_no
        Account.acc_no += 1
        self.acc_balance = balance 
    
    def __repr__(self):
        return f"Acc {self.accno} has balance {self.acc_balance}"

    def deposite(self, amount):
        if amount>0:
            print("Adding money.....")
            self.acc_balance += amount
        
    def withdrawl(self, amount):
        if(amount > self.acc_balance):
            print("Insufficient balance")
        else:
            print("krrrrrrr......")
            self.acc_balance -= amount
    
    # __eq__
    # __gt__

In [57]:
a1 = Account(20000)

In [58]:
print(a1)

Acc 1001 has balance 20000

In [59]:
a1.deposite(5000)

Adding money.....

In [60]:
a1

Acc 1001 has balance 25000

In [61]:
a1.withdrawl(30000)

Insufficient balance

In [62]:
a1.withdrawl(10000)

krrrrrrr......

In [63]:
a1

Acc 1001 has balance 15000

In [64]:
a1.deposite(-5000)

In [65]:
a1

Acc 1001 has balance 15000

In [66]:
str(a1)

'Acc 1001 has balance 15000'

# Inheritance

In [67]:
class Account:
    acc_no = 1001 
    def __init__(self, balance=10000):
        print("creating new account...")
        self.accno = Account.acc_no
        Account.acc_no += 1
        self.acc_balance = balance
        self.max_trans = 2
        self.num_trans = 0
    
    def __repr__(self):
        return f"Acc {self.accno} has balance {self.acc_balance}"

    def deposite(self, amount):
        if amount>0 and self.num_trans < self.max_trans:
            print("Adding money.....")
            self.acc_balance += amount
            self.num_trans+= 1
        
    def withdrawl(self, amount):
        if(amount > self.acc_balance and self.num_trans < self.max_trans):
            print("Insufficient balance")
        else:
            print("krrrrrrr......")
            self.acc_balance -= amount
            self.num_trans +=1
            
class SavingAccount(Account):
    pass

class CurrentAccount(Account):
    pass

In [68]:
sa_1 = SavingAccount()

creating new account...

In [69]:
sa_1.acc_balance

10000

In [70]:
sa_1.deposite(5000)

Adding money.....

In [71]:
sa_1.deposite(10000)

Adding money.....

In [72]:
sa_1

Acc 1001 has balance 25000

In [73]:
sa_1.deposite(5000)

In [74]:
class Account:
    acc_no = 1001 
    def __init__(self, balance=10000):
        print("creating new account...")
        self.accno = Account.acc_no
        Account.acc_no += 1
        self.acc_balance = balance
        self.num_trans = 0
    
    def __repr__(self):
        return f"Acc {self.accno} has balance {self.acc_balance}"

    def deposite(self, amount):
        if amount>0 and self.num_trans < self.max_trans:
            print("Adding money.....")
            self.acc_balance += amount
            self.num_trans+= 1
        
    def withdrawl(self, amount):
        if(amount > self.acc_balance):
            print("Insufficient balance")
        elif(self.num_trans > self.max_trans):
            print("limit crossed")
        else:
            print("krrrrrrr......")
            self.acc_balance -= amount
            self.num_trans +=1
            
class SavingAccount(Account):
    def __init__(self):
        
        super().__init__()
        
        self.max_trans = 2

        
        

class CurrentAccount(Account):
    def __init__(self):
        super().__init__()
        
        self.max_trans = 10

In [75]:
sa_1 = SavingAccount()
ca_1 = CurrentAccount()

creating new account...
creating new account...

In [76]:
sa_1.max_trans

2

In [77]:
ca_1.max_trans

10

In [78]:
print(sa_1)

Acc 1001 has balance 10000

In [79]:
print(ca_1)

Acc 1002 has balance 10000

In [80]:
sa_1.deposite(5000)
sa_1.deposite(10000)
sa_1.deposite(10000)

Adding money.....
Adding money.....

In [81]:
sa_1

Acc 1001 has balance 25000

In [82]:
sa_1.withdrawl(5000)

krrrrrrr......

In [83]:
ca_1.deposite(5000)
ca_1.deposite(10000)
ca_1.deposite(10000)

Adding money.....
Adding money.....
Adding money.....

In [84]:
ca_1.withdrawl(5000)

krrrrrrr......

In [85]:
ca_1

Acc 1002 has balance 30000

In [86]:
class Account:
    acc_no = 1001 
    def __init__(self, balance=10000):
        print("creating new account...")
        self.accno = Account.acc_no
        Account.acc_no += 1
        self.acc_balance = balance
        self.num_trans = 0
    
    def __repr__(self):
        return f"Acc {self.accno} has balance {self.acc_balance}"

    def deposite(self, amount):
        if amount>0 and self.num_trans < self.max_trans:
            print("Adding money.....")
            self.acc_balance += amount
            self.num_trans+= 1
        
    def withdrawl(self, amount):
        if(amount > self.acc_balance):
            print("Insufficient balance")
        elif(self.num_trans > self.max_trans):
            print("limit crossed")
        else:
            print("krrrrrrr......")
            self.acc_balance -= amount
            self.num_trans +=1
            
    def getInterest(self):
        pass
            
class SavingAccount(Account):
    def __init__(self):
        
        super().__init__()
        
        
        self.max_trans = 2

    
    def getInterest(self):
        interest = 0.05*self.acc_balance
        print(f"Intrest earned: {interest}")
        

class CurrentAccount(Account):
    def __init__(self):
        super().__init__()
        
        self.max_trans = 10
    
    def getInterest(self):
        interest = 0.02*self.acc_balance
        print(f"Intrest earned: {interest}")

In [87]:
sa_1 = SavingAccount()
ca_1 = CurrentAccount()

creating new account...
creating new account...

In [88]:
sa_1.getInterest()

Intrest earned: 500.0

In [89]:
ca_1.getInterest()

Intrest earned: 200.0

In [90]:
2 + 4

6

In [91]:
'a' + 'b'

'ab'

In [92]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [93]:
class Account():
    def __init__(self, balance= 10000):
        # private variable
        self.__balance = balance
    
    def get_balance(self):
        return self.__balance
    
    def __helper(self):
        print("I'm a private method")

In [94]:
acc = Account()

In [95]:
acc.get_balance()

10000

In [96]:
acc.__balance

AttributeError: 'Account' object has no attribute '__balance'

In [97]:
acc.balance = 999999

In [98]:
acc.get_balance()

10000

In [99]:
# Inheritance

class A:

    def one(self):

        return self.two()   

    def two(self):

        print('A')

class B(A):

    def two(self):
        super().two()
        print('B')

obj1=A()
obj2=B()

obj1.two()
obj2.two()

A
A
B