In [6]:
tup = (1,2,3,4) 
tup

(1, 2, 3, 4)

In [7]:
tup[0]

1

In [8]:
tup[-1]

4

In [9]:
tup[1:-1]

(2, 3)

In [10]:
tup[0] = 10

TypeError: 'tuple' object does not support item assignment

In [11]:
(1,2,3) + (4,5)

(1, 2, 3, 4, 5)

In [12]:
"hello " + "world"

'hello world'

In [13]:
(1,2,3)*2

(1, 2, 3, 1, 2, 3)

In [14]:
(1,2,3)*(1,2,3)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [15]:
t1 = ("Ram", 56, [10,20,30], True)

In [16]:
t1[2][0] = 100

In [17]:
print(t1)

('Ram', 56, [100, 20, 30], True)

In [18]:
[10]

[10]

In [19]:
t2 = (10,)

In [20]:
t2

(10,)

In [21]:
type(t2)

tuple

In [22]:
t2 = ([1,2,3,4,5,6])

In [23]:
t2[0]

1

### Packing and Unpacking

In [24]:
# tuple packing

t3 = 10,20,30

In [25]:
t3

(10, 20, 30)

In [26]:
a,b,c = t3

In [27]:
print(a)
print(b)
print(c)

10
20
30

In [28]:
no1, no2, no3 = 100,200,300

In [29]:
# Important

def foo():
    a = 3
    b = 6
    c = 9
    return a,b,c

In [30]:
a,b,c = foo()

In [31]:
print(a, b, c)

3 6 9

In [32]:
a = 5
b = 6

a,b = b,a

In [33]:
print(a, b)

6 5

In [34]:
tuple([1,2,3])

(1, 2, 3)

In [35]:
list((10,20,30))

[10, 20, 30]

# Dictionary

In [36]:
# dic = {}
# dic = dict()

In [37]:
d = {"Anne": 10000,
    "Bill": 20000,
    "Cathy": 30000}

print(d)

{'Anne': 10000, 'Bill': 20000, 'Cathy': 30000}

In [38]:
type(d)

dict

In [39]:
d["Bill"]

20000

In [40]:
d['Don']

KeyError: 'Don'

In [41]:
d.get('Don', -1)

-1

In [42]:
hash("Don")

8229831636094908450

In [43]:
hash(55)

55

In [44]:
print(d)

{'Anne': 10000, 'Bill': 20000, 'Cathy': 30000}

In [45]:
d['Anne'] = 40000

In [46]:
print(d)

{'Anne': 40000, 'Bill': 20000, 'Cathy': 30000}

In [47]:
d['Don'] = 50000

In [48]:
print(d)

{'Anne': 40000, 'Bill': 20000, 'Cathy': 30000, 'Don': 50000}

In [49]:
d.pop('Anne')

40000

In [50]:
print(d)

{'Bill': 20000, 'Cathy': 30000, 'Don': 50000}

In [51]:
# del d['Anne']

In [52]:
d['Bill'] = None

In [53]:
print(d)

{'Bill': None, 'Cathy': 30000, 'Don': 50000}

In [54]:
d['Bill'] = ''

In [55]:
d

{'Bill': '', 'Cathy': 30000, 'Don': 50000}

In [56]:
d[(10,20,30)] = "Hello"

In [57]:
d

{'Bill': '', 'Cathy': 30000, 'Don': 50000, (10, 20, 30): 'Hello'}

In [58]:
d.keys()

dict_keys(['Bill', 'Cathy', 'Don', (10, 20, 30)])

In [59]:
type(d.keys())

dict_keys

In [60]:
list(d.keys())

['Bill', 'Cathy', 'Don', (10, 20, 30)]

In [61]:
list(d.values())

['', 30000, 50000, 'Hello']

In [62]:
list(d.items())

[('Bill', ''), ('Cathy', 30000), ('Don', 50000), ((10, 20, 30), 'Hello')]

In [63]:
for k,v in d.items():
    if v==30000:
        print(k)

Cathy

In [64]:
for k in d:
    print(k, d[k])

Bill
Cathy 30000
Don 50000
(10, 20, 30) Hello

In [65]:
t = (10,15,8,9)

In [66]:
tuple(sorted(t))

(8, 9, 10, 15)

In [67]:
EMP_DB = {
    'HR' : {
        101 : 45000,
        116 : 34000
    },
    'TECH' : {
        918 : 60000,
        1001 : 75000,
        815 : 65000
    },
    'SALES' : {
        887 : 45000,
        490 : 63000
    }
}

In [68]:
EMP_DB

{'HR': {101: 45000, 116: 34000},
 'TECH': {918: 60000, 1001: 75000, 815: 65000},
 'SALES': {887: 45000, 490: 63000}}

In [69]:
type(EMP_DB)

dict

In [70]:
EMP_DB.keys()

dict_keys(['HR', 'TECH', 'SALES'])

In [71]:
EMP_DB['TECH']

{918: 60000, 1001: 75000, 815: 65000}

In [72]:
type(EMP_DB['TECH'])

dict

In [73]:
EMP_DB['TECH'][918]

60000

In [74]:
EMP_DB.get('TECH').get(918)

60000

In [75]:
for depart in EMP_DB:
    values = list(EMP_DB[depart].values())
    print(depart, sum(values) / len(values))

HR 39500.0
TECH 66666.66666666667
SALES 54000.0

In [76]:
# for department in EMP_DB:
#     average=0
#     for key in department:
#         average+=EMP_DB[department][key]
#     print(average/len(EMP_DB[department]))

In [77]:
# for i in list(d.items()):
#     av=sum(list(i[1].values()))/len(list(i[1].values()))

## Set

In [78]:
s1 = {1,5,7,4,7,3,2,1}
print(s1)

{1, 2, 3, 4, 5, 7}

In [79]:
type(s1)

set

In [80]:
s = set()

In [81]:
s1[0]

TypeError: 'set' object is not subscriptable

In [82]:
s1.add(9)

In [83]:
print(s1)

{1, 2, 3, 4, 5, 7, 9}

In [84]:
s1.add(7)
s1.add(7)
s1.add(7)
s1.add(7)

print(s1)

{1, 2, 3, 4, 5, 7, 9}

In [85]:
string = "Hello world"

In [86]:
string = string.upper()

In [87]:
string

'HELLO WORLD'

In [88]:
print(s1)

{1, 2, 3, 4, 5, 7, 9}

In [89]:
# s1.pop()

In [90]:
s1.remove(4)

In [91]:
s1

{1, 2, 3, 5, 7, 9}

In [92]:
len("Hello world")

11

In [93]:
len(s1)

6

In [94]:
sum(s1)

27

In [95]:
max(s1)

9

In [96]:
sentence = "be the change you wish to see in the world"
sentence

'be the change you wish to see in the world'

In [97]:
len(sentence)

42

In [98]:
len(sentence.split())

10

In [99]:
set(sentence.split())

{'be', 'change', 'in', 'see', 'the', 'to', 'wish', 'world', 'you'}

In [100]:
len(set(sentence.split()))

9

In [101]:
"change" in set(sentence.split())

True

In [102]:
s1= {1,2,3}
s2= {3,4}

In [103]:
s1.union(s2)

{1, 2, 3, 4}

In [104]:
s1.intersection(s2)

{3}

In [105]:
s1.difference(s2)

{1, 2}

In [106]:
s2.difference(s1)

{4}

In [107]:
# (s1-s2) union (s2-s1)
s1.symmetric_difference(s2)

{1, 2, 4}

## Functional Programming

In [108]:
def cube(x):
    return x**3

In [109]:
cube(4)

64

In [110]:
(lambda x : x**3)(3)

27

In [111]:
func = lambda x : x**3

In [112]:
func(5)

125

In [113]:
(lambda x,y : x**2 + y**2)(3,4)

25

In [114]:
print(type(cube))

<class 'function'>

In [115]:
nth_multiple_of_3 =  lambda n: 3*n

In [116]:
nth_multiple_of_3(7)

21

In [117]:
def create_multiple(num):
    return lambda n: num*n

In [118]:
nth_multiple_of_6 = create_multiple(6)
nth_multiple_of_9 = create_multiple(9)

In [119]:
nth_multiple_of_6(3)

18

In [120]:
nth_multiple_of_9(5)

45

In [121]:
def content(x):
    x[0] = 10
    return x
        
x = [1,2,3]
print(x)
print(content(x))
print(x)

[1, 2, 3]
[10, 2, 3]
[10, 2, 3]

In [122]:
def content(x):
    x = [4,5,6]
    return x
        
x = [1,2,3]
print(x)
print(content(x))
print(x)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3]

In [123]:
ans = 0 

def func(x, y):
    global ans
    ans = x+y
    return ans

print(ans)
print(func(2,3))
print(ans)

0
5
5

In [124]:
x = 5
x = 2*x
x += 1

print(x)

11

In [125]:
x = 5
x1 = 2*x + 1

print(x1)
print(x)

11
5

In [126]:
def operator(x):
    x = x*2
    x += 1
    
    return x

x = 5
print(x)
print(operator(x))
print(x)

5
11
5

### Map, filter, reduce

In [127]:
lst = [1,3,6,8,7,9,10]

In [128]:
# def temp(x):
#     return x**2

m = map(lambda x: x**2, lst)
list(m)

[1, 9, 36, 64, 49, 81, 100]

In [129]:
list1 = [1, 2, 3, 4, 5]
list2 = [] # First we have to create any empty list
for i in range(0, len(list1)): # Then for each of the indexes in list1
    list2.append(list1[i] ** 2) # Element in list2 is twice the element in list1
print(list2)

[1, 4, 9, 16, 25]

In [130]:
heights = [152, 182, 175, 161, 180, 172, 146]

In [131]:
def converter(h):
    if h>180:
        return 'L'
    elif h>160:
        return 'M'
    return 'S'

In [132]:
list(map(converter, heights))

['S', 'L', 'M', 'M', 'M', 'M', 'S']

In [133]:
f = filter(lambda h: h>=160, heights)
list(f)

[182, 175, 161, 180, 172]

In [134]:
from functools import reduce

In [135]:
sum(lst)

44

In [136]:
lst

[1, 3, 6, 8, 7, 9, 10]

In [137]:
reduce(lambda x, y : x*y , lst)

90720

In [138]:
lst

[1, 3, 6, 8, 7, 9, 10]

In [139]:
# map, filter, reduce

In [140]:
reduce(lambda x,y: x if x>y else y, lst)

10

In [ ]:
x = [1,2,3,4]
y = [10,20,30,40]

In [ ]:
list(zip(l1,l2))

NameError: name 'l1' is not defined